{% extends 'base.html' %}

{% block content %}
    <div class="row">
    {% for data in articles %}
        <div class="card col-4" style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{data.0}}</h5>
            <p class="card-text">{{data.1}}</p>
            <a href="/community/" class="btn btn-primary">Post Article</a>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}